@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Plus Jakarta Sans", sans-serif;
}

.collection:nth-child(even) div div{
  order: 1;
}
.collection:nth-child(even) div img{
  background-color: red;
  order: 2;
}

.nav--active {
  width: 50px;
  height: 6px;
  position: absolute;
  left: 50%;
  top: 150%;
  transform: translateX(-50%);
  z-index: 1000;
  background-color: #4a1fb8;
}
.wish--grid--container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.2rem;
}

.wish--grid--container > li:last-child:nth-child(odd) {
  justify-self: center;
}

.stepper--wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* gap: 5px; */
}

.stepper--item {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}


.stepper--item.completed .step--counter {
  background-color: #218012;
}


.stepper--item::before {
  position: absolute;
  content: "";
  border-bottom: 2px solid #6e6e6e;
  width: 100%;
  top: 15px;
  right: 50%;
  z-index: 2;
}
.stepper--item::after {
  position: absolute;
  content: "";
  border-bottom: 2px solid #6e6e6e;
  width: 100%;
  top: 15px;
  left: 50%;
  z-index: 2;
}
.stepper--item.completed::before {
  position: absolute;
  content: "";
  border-bottom: 2px solid #218012;
  width: 100%;
  top: 15px;
  right: 50%;
  z-index: 3;
}
.stepper--item.completed::after {
  position: absolute;
  content: "";
  border-bottom: 2px solid #218012;
  width: 100%;
  top: 15px;
  left: 50%;
  z-index: 3;
}
.step--counter {
  height: 30px;
  width: 30px;
  border-radius: 5px;
  background-color: #707070 ;
  color: #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5;
  position: relative;
}
.step--label {
  margin-top: 10px;
}


@media (min-width: 640px) {
  .wish--grid--container > :nth-child(4n-3),
  .wish--grid--container > :nth-child(4n-2) {
    /* justify-self: end; */
    margin-left: 50px;
  }
  .wish--grid--container > :nth-child(4n-1),
  .wish--grid--container > :nth-child(4n) {
    /* justify-self: start; */
    margin-right: 50px;

  }
}





/* ::-webkit-scrollbar {
  width: 0.4em;
}
 
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
  border-radius: 10px;
} */