@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow: hidden;
  font-family: "Plus Jakarta Sans", sans-serif;
}

.collection:nth-child(even) div div{
  order: 1;
}
.collection:nth-child(even) div img{
  background-color: red;
  order: 2;
}
